#logo{
	}

	body{
		background-color: #ebeff5;
	}


	#checks-total{
		background-color: #5277a9;
	}


	#checks-remaining{
		background-color: #5277a9;
	}

	#checks-passed{
		background-color: #0eb70e;
	}

	#checks-failed{
		background-color: #a91a37;
	}

	#category{
		background-color: #5277a9;
	}