{%  extends 'main/main.html' %}

{% block content %}

{%  include 'main/status.html' %}

<br>
    <div class="col-md-12">
		<h5>REMAINING CHECKS ({{test}})</h5>
		<hr>
		<div class="card card-body">

			<table class="table table-sm">
				<tr>
                    <th>Id</th>
					<th>Check Name</th>
					<th>Category</th>
                    <th>Site</th>
                    <th>Update</th>
				</tr>

				{% for result in remaining %}
					<tr>
						<td>{{result.id}}</td>
                        <td>{{result.name}}</td>
                        <td>{{result.category_id}}</td>
                        <td>{{result.site_id}}</td>
						<td><a class="btn btn-sm btn-info" href="#">Update</a></td>
					</tr>
				{% endfor %}


			</table>
		</div>
	</div>


	<div class="col-md-12">
		<h5>FAILURES IN LAST 48HRS</h5>
		<hr>
		<div class="card card-body">
			
			<table class="table table-sm">
				<tr>
                    <th>Id</th>
					<th>Date Raised</th>
					<th>Check Name</th>
					<th>Category</th>
                    <th>Incident</th>
                    <th>Update</th>
				</tr>

				{% for result in totalfails %}
					<tr>
                        <td>{{result.id}}</td>
						<td>{{result.date_time}}</td>
						<td>{{result.check_id}}</td>
						<td>{{result.check_id.category_id}}</td>
                        <td>{{result.incident_id}}</td>
						<td><a class="btn btn-sm btn-info" href="">Update</a></td>
					</tr>
				{% endfor %}

		
			</table>
		</div>
	</div>

</div>

{% endblock %}

