{%  extends 'main/main.html' %}

{% block content %}

{%  include 'main/status.html' %}

<br>

	<div class="col-md-12">
		<h5>FAILURES IN LAST 48HRS</h5>
		<hr>
		<div class="card card-body">
			
			<table class="table table-sm">
				<tr>
					<th>Date Raised</th>
					<th>Check Name</th>
					<th>Category</th>
                    <th>Incident</th>
				</tr>

				{% for result in totalfails %}
					<tr>
						<td>{{result.date_time}}</td>
						<td>{{result.check_id}}</td>
						<td>{{result.status}}</td>
{#						<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>#}
{##}
{#						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>#}

					</tr>
				{% endfor %}

		
			</table>
		</div>
	</div>

</div>

{% endblock %}

