<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="checks-total">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Checks</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_checks}}</h3>
			  	</div>
			</div>
		</div>
	</div>

    <div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="checks-remaining">
			  	<div class="card-header">
			  		<h5 class="card-title">Checks Remaining</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{test}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="checks-passed">
			  	<div class="card-header">
			  		<h5 class="card-title">Passed in 24hrs</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{totalpasscount}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="checks-failed">
			  	<div class="card-header">
			  		<h5 class="card-title">Failed in 24hrs</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{totalfailscount}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
{#<div class="row">#}
{#{% for item in category %}#}
{#    <div class="col">#}
{#		<div class="col-md">#}
{#			<div class="card text-center text-white  mb-3" id="category">#}
{#			  	<div class="card-header">#}
{#			  		<h7 class="card-title">{{item.name}}</h7>#}
{#			  	</div>#}
{#                <div class="card-body">#}
{#                    <h8 class="card-title">Passed %</h8>#}
{#			  	</div>#}
{#                <div class="card-body">#}
{#                    <h8 class="card-title">INC</h8>#}
{#			  	</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#{% endfor %}#}
{#</div>#}
{#{% for item in category %}#}
{#    <div class="col">#}
{#		<div class="col-md">#}
{#			<div class="card text-center text-white  mb-3" id="category">#}
{#			  	<div class="card-header">#}
{#			  		<h7 class="card-title">{{item.name}}</h7>#}
{#			  	</div>#}
{#                <div class="card-body">#}
{#                    <h8 class="card-title">Passed %</h8>#}
{#			  	</div>#}
{#                <div class="card-body">#}
{#                    <h8 class="card-title">INC</h8>#}
{#			  	</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#{% endfor %}#}
{#</div>#}