{%  extends 'main/main.html' %}

{% block content %}

{%  include 'main/status.html' %}
<br>
<div class="dropdown show">
<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Tasks
</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Import Emails</a>
        <a class="dropdown-item" href="#">Import Log Files</a>
    </div>
</div>

{% endblock %}